doctype html(lang='en')
head
//Basic Page Needs
meta(charset='utf-8')

title Hunger Thunder

meta(name='description', content='')

meta(name='author', content='')
//Mobile Specific Metas
meta(name='viewport', content='width=device-width, initial-scale=1')
//FONT
link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
//CSS
link(rel='stylesheet', href='css/normalize.css')

link(rel='stylesheet', href='css/skeleton.css')
//Favicon
link(rel='icon', type='image/png', href='images/favicon.png')
body
//Primary Page Layout
.container
  .row
    .one-half.column(style='margin-top: 25%')
      h4 Login To Manage Your Pantry
      
  .row
    .six.columns
      label Email
      input(class=u-full-width, type=email, placeholder="hello@food.pantry")
      br
      label Password
      input(class=u-full-width, type='password')
      br
      a(class='button') Go
      &nbsp
      a(class='button', href="/") Back
      
//End Document
