doctype html(lang='en')
head
//Basic Page Needs
meta(charset='utf-8')
|   
title Hunger Thunder
|   
meta(name='description', content='')
|   
meta(name='author', content='')
//Mobile Specific Metas
meta(name='viewport', content='width=device-width, initial-scale=1')
//FONT
link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
//CSS
link(rel='stylesheet', href='css/normalize.css')
|   
link(rel='stylesheet', href='css/skeleton.css')
//Favicon
link(rel='icon', type='image/png', href='images/favicon.png')
body
//Primary Page Layout
.container
	.row
		.one-half.column(style='margin-top: 25%')
			h4 Fight Hunger!
			|         
			p
			| Hunger thunder makes it super simple for food pantries to use donations for daily repleneshing of stock and keeping only the food they need.
		.one-half.column(style='margin-top: 25%')
			a.button(href='charity')  I need donations. 
			|         
			a.button  I want to donate. 
//End Document
